:root {
	--logoFont: 'Playfair Display', serif;
	--menuFont: 'Arvo', serif;
	--textFont: 'Quicksand', sans-serif;
	--barColor:   #353535;
	--bodyColor:  #E1E1E1;
	--whiteColor: #FFFFFF;
	--hoverColor: #FE4918;
}
/* GLOBAL */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background: var(--bodyColor);
	padding: 0;
	margin: 0;
}
h2 {
	font-size: 4rem;
	text-align: center;
	font-family: var(--menuFont);
	font-style: oblique;
	text-decoration: underline;
}
p {
	font-size: 2rem;
	padding: 0 15px;
	text-align: justify;
	font-family: var(--textFont);
}
.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--barColor);
	padding: 1rem 0;
	display: inline-block;
	text-align: center;
}
.sticky {
	position: sticky;
	top: 0;
}
@media screen and (min-width: 768px) {
	.menu-container {
		padding: 0 9rem;
		display: inline-flex;
		width: 100%;
	}
}
@media screen and (min-width: 1400px) {
	.menu-container {
		padding: 0 15rem;
		display: inline-flex;
	}
}
.menu-container a {
	color: var(--whiteColor);
	padding: 0 2rem;
}
.nav-list a {
	text-decoration: none;
	font-family: var(--menuFont);
	font-size: 2rem;
	transition: all .5s ease;
}
@media screen and (min-width: 768px) {
	.nav-list a {
		font-size: 2.3rem;
		padding: 0 1rem;
	}
}
@media screen and (min-width: 1400px) {
	.nav-list a {
		font-size: 2.8rem;
	}
}
.nav-list a:hover {
	color: var(--hoverColor);
}
.logo {
	font-family: var(--logoFont);
	text-decoration: none;
	font-size: 2.5rem;
	padding: 0;
}
.logo span {
	font-style: italic;
	font-size: 3rem;
}
@media screen and (min-width: 768px) {
	.logo {
		font-size: 2rem;
	}
	.logo span {
		font-size: 4.3rem;
	}
}
@media screen and (min-width: 1400px) {
	.logo {
		font-size: 2rem;
	}
	.logo span {
		font-size: 5.3rem;
	}
}
.background-image {
    background:
	linear-gradient(rgba(0,0,0,0.6), 
	rgba(0,0,0,0.8)), url(../img/fondo.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.cv-container {
	padding: 0 2rem;
}
.cv-container img {
	width: 100%;
	height: auto;
	border-radius: 1.5rem;
}
@media screen and (min-width: 768px) {
	.cv-container {
		padding: 0 30rem;
	}
}
@media screen and (min-width: 1400px) {
	.cv-container {
		padding: 0 40rem;
	}
}
.cart-container {
	padding: 0 2rem;
}
.cart-container img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	margin: 0 0 1rem 0;
	transition: all .7s ease-in-out;
}
.cart-container img:hover {
	transform: scale(1.2);
}
@media screen and (min-width: 768px) {
	.cart-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		padding: 0 3rem;
	}
}
@media screen and (min-width: 1400px) {
	.cart-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		padding: 0 6rem;
	}
}
.certifications-container {
	padding: 0 2rem;
}
.certifications-container img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	margin: 0 0 1rem 0;
	transition: all .7s ease-in-out;
}
.certifications-container img:hover {
	transform: scale(1.1);
}
@media screen and (min-width: 768px) {
	.certifications-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		padding: 0 3rem;
	}
}
@media screen and (min-width: 1400px) {
	.certifications-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		padding: 0 6rem;
	}
}
footer {
	margin-top: 1.5rem;
    background-color: var(--barColor);
    color: var(--whiteColor);
    padding: 1rem 0;
    text-align: center;
    text-transform: capitalize;
}
footer p {
	font-family: var(--paragrapFont);
	text-align: center;
    margin: 0;
    padding: 0;
}